*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-item {
  padding: 20px;
  border: 1px solid #ccc;
}

.d-flex {
  display: flex;
  gap: 10px;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}